@import '../settings/colors';
@import '../settings/fonts';


.nav__item--login {
  padding: 10px 9px;
}

.login__btn {
  text-decoration: none;
  color: $third-color;
  font-family: $font-base;
}

.nav__item--register {
  border: 1px solid $secondary-color;
  padding: 10px 9px;
  text-decoration: none;
  font-family: $font-base;
  color: $third-color;
}

.register__btn {
  text-decoration: none;
  color: $third-color;
  font-family: $font-base;
}

.nav__item {
  padding: 9px 10px;
  a {
    text-decoration: none;
    font-family: $font-base;
    color: $fourth-color;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out, padding 0.2s ease-in-out;
    padding: 9px 10px;

    &:hover {
      border-color: $fourth-color;
    }

    &:active {
      border-color: $fourth-color;
    }
  }

  &.active {
    a {
      border-color: $fourth-color;
    }
  }
}



.hero__main--btn {
  font-size: 2.25rem;
  background-color: $white-color;
  padding: 13px 93px 13px 93px;
  border: solid 0.75px $fourth-color;
  width: 310px;
}

.hero__main--btn a {
  text-decoration: none;
  font-family: $font-base;
  color: $fourth-color;
  font-weight: 300;
}

.main__btn {
  font-size: 2.25rem;
  background-color: $white-color;
  padding: 23px 42px 23px 42px;
  border: solid 0.75px $fourth-color;
  width: 310px;
}

.main__btn a {
  text-decoration: none;
  font-family: $font-base;
  color: $fourth-color;
  font-weight: 300;
}

.form__btn {
  font-size: 18px;
  background-color: $white-color;
  padding: 13px 52px 12px 53px;
  border: solid 0.75px $fourth-color;
  width: 150px;
  font-family: $font-base;
  font-weight: 300;
  cursor: pointer;
}

