@import '../settings/colors';
@import '../settings/fonts';

.about__us {
  display: flex;

  }
  .box__text {
    width: 50%;
    background-color: $base-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 150px;
    text-align: center;
    color: $fourth-color;

    span {
      font-size: 38px;
      line-height: 1.45;
      letter-spacing: -0.76px;
    }

    p {
      font-size: 30px;
      line-height: 1.8;
      letter-spacing: -0.6px;
    }

    .img__signature {
      align-self: end;
    }
  }

  .about__us--img {
    width: 50%;
  }