@import "settings/colors";
@import "settings/reset";
@import "settings/fonts";
@import "global/buttons";
@import "global/HomeHeader";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $font-base;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}